<a href="https://colab.research.google.com/github/cam2149/AnalisisDatosI/blob/main/Ejercicio_merge_join_US_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [135]:
# 'https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv'
# 'https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv'
# 'https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv'

# Debemos encontrar el ranking de los estados de USA  por su densidad de población en  2010

# 1. many-to-one merge nombre + población
# 2. merge on ``state/region``  de  ``population``,y ``abbreviation`` de ``abbrevs``, ``how='outer'`` para tener todos los datos

In [136]:
# Importar las bibliotecas de Python requeridas.
import pandas as pd
import numpy as np

# Visualización
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style = 'whitegrid')
# missing value imputation
from sklearn.impute import SimpleImputer

# pipeline & transformer
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer

# Supress warnings
import warnings
warnings.filterwarnings("ignore")

Objetivo: "Analizar  los datos relevantes de los dataset entregados.

**Dataset state-population.csv**
Cada fila representa un registro de la poblacion del estado correspondiente según grupación de menores de 18 y el total de la población.

**Dataset state-areas.csv**
Cada fila representa un registro de la área del estado de los Estados Unidos correspondiente.

**Dataset state-abbrevs.csv**
Cada fila representa un registro la abrevitura del nombre de cada estado de los Estados Unidos.

Con la realación de los datos encontraremos
1. many-to-one merge nombre + población
2. merge on ``state/region``  de  ``pop``,y ``abbreviation`` de ``abbrevs``.
 ``how='outer'`` para tener todos los datos

In [137]:
# Cargar los datasets desde sus fuentes.
# Como desconocemos si los archivos contienen caracteres ?, con este comando na_values = '?' pandas los interpreta como nan (not a number).
state_population = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-population.csv',na_values = '?')
state_areas = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-areas.csv',na_values = '?')
state_abbrevs = pd.read_csv('https://raw.githubusercontent.com/jakevdp/data-USstates/master/state-abbrevs.csv',na_values = '?')

## 2. Verificamos los DF

## state_population

In [138]:
state_population.head()

  state/region     ages  year  population
0           AL  under18  2012   1117489.0
1           AL    total  2012   4817528.0
2           AL  under18  2010   1130966.0
3           AL    total  2010   4785570.0
4           AL  under18  2011   1125763.0

In [139]:
# Obtener la cantidad de registros por columna del DataFrame state_population.
state_population.count()

state/region    2544
ages            2544
year            2544
population      2524
dtype: int64

In [140]:
state_population.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2544 entries, 0 to 2543
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   state/region  2544 non-null   object
 1   ages          2544 non-null   object
 2   year          2544 non-null   int64
 3   population    2524 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 79.6+ KB

In [141]:
# Verificar si existen datos vacíos o faltantes en el DataFrame stata_population.
state_population.isna().sum()

state/region     0
ages             0
year             0
population      20
dtype: int64

In [142]:
# Promedio/media de la columna population
avg_population = state_population["population"].astype("float").mean()

# Imprimir los resultados
print("Promedio de population:", avg_population)

Promedio de population: 6805558.401347068

In [143]:
# Reemplazo de NaN por la media, columna population
state_population["population"].replace(np.nan, avg_population, inplace=True)

In [144]:
# Verificar si existen datos duplicados en el DataFrame state_population.
print(f'Cantidad de datos duplicados en el DataFrame state_population: {state_population.duplicated().sum()}')

Cantidad de datos duplicados en el DataFrame state_population: 0

In [145]:
# Verificar si existen datos vacíos o faltantes en el DataFrame stata_population.
state_population.isna().sum()

state/region    0
ages            0
year            0
population      0
dtype: int64

## state-areas

In [146]:
# Obtener el cabecero del DataFrame state-areas.
state_areas.head()

        state  area (sq. mi)
0     Alabama          52423
1      Alaska         656425
2     Arizona         114006
3    Arkansas          53182
4  California         163707

In [147]:
# Obtener la cantidad de registros por columna del DataFrame state_areas.
state_areas.count()

state            52
area (sq. mi)    52
dtype: int64

In [148]:
# Verificar si existen datos vacíos o faltantes en el DataFrame state_areas.
state_areas.isna().sum()

state            0
area (sq. mi)    0
dtype: int64

In [149]:
# Verificar si existen datos duplicados en el DataFrame state_areas.
print(f'Cantidad de datos duplicados en el DataFrame state_areas: {state_areas.duplicated().sum()}')

Cantidad de datos duplicados en el DataFrame state_areas: 0

## state_abbrevs

In [150]:
# Obtener el cabecero del DataFrame state_abbrevs.
state_abbrevs.head()

        state abbreviation
0     Alabama           AL
1      Alaska           AK
2     Arizona           AZ
3    Arkansas           AR
4  California           CA

In [151]:
# Obtener la cantidad de registros por columna del DataFrame state_abbrevs.
state_abbrevs.count()

state           51
abbreviation    51
dtype: int64

In [152]:
# Verificar si existen datos vacíos o faltantes en el DataFrame state_abbrevs.
state_abbrevs.isna().sum()

state           0
abbreviation    0
dtype: int64

In [153]:
# Verificar si existen datos duplicados en el DataFrame state_abbrevs.
print(f'Cantidad de datos duplicados en el DataFrame state_abbrevs: {state_abbrevs.duplicated().sum()}')

Cantidad de datos duplicados en el DataFrame state_abbrevs: 0

## Intregración y/o relacionamiento de los Dataframes

In [154]:
# Renombrar la columna state/region a abbreviation del Datafame state_population
state_population.rename(columns={'state/region': 'abbreviation'}, inplace=True)

In [155]:
# Realizar el merge de los DataFrame state_areas y state_abbrevs mediante la columna state
merged_dataframes = state_areas.merge(state_abbrevs, how = 'outer', on = 'state')
merged_dataframes

                   state  area (sq. mi) abbreviation
0                Alabama          52423           AL
1                 Alaska         656425           AK
2                Arizona         114006           AZ
3               Arkansas          53182           AR
4             California         163707           CA
5               Colorado         104100           CO
6            Connecticut           5544           CT
7               Delaware           1954           DE
8                Florida          65758           FL
9                Georgia          59441           GA
10                Hawaii          10932           HI
11                 Idaho          83574           ID
12              Illinois          57918           IL
13               Indiana          36420           IN
14                  Iowa          56276           IA
15                Kansas          82282           KS
16              Kentucky          40411           KY
17             Louisiana          51843           LA
18                 Maine          35387           ME
19              Maryland          12407           MD
20         Massachusetts          10555           MA
21              Michigan          96810           MI
22             Minnesota          86943           MN
23           Mississippi          48434           MS
24              Missouri          69709           MO
25               Montana         147046           MT
26              Nebraska          77358           NE
27                Nevada         110567           NV
28         New Hampshire           9351           NH
29            New Jersey           8722           NJ
30            New Mexico         121593           NM
31              New York          54475           NY
32        North Carolina          53821           NC
33          North Dakota          70704           ND
34                  Ohio          44828           OH
35              Oklahoma          69903           OK
36                Oregon          98386           OR
37          Pennsylvania          46058           PA
38          Rhode Island           1545           RI
39        South Carolina          32007           SC
40          South Dakota          77121           SD
41             Tennessee          42146           TN
42                 Texas         268601           TX
43                  Utah          84904           UT
44               Vermont           9615           VT
45              Virginia          42769           VA
46            Washington          71303           WA
47         West Virginia          24231           WV
48             Wisconsin          65503           WI
49               Wyoming          97818           WY
50  District of Columbia             68           DC
51           Puerto Rico           3515          NaN

In [156]:
# Obtener la cantidad de registros por columna del DataFrame resultado.
merged_dataframes.count()

state            52
area (sq. mi)    52
abbreviation     51
dtype: int64

In [157]:
# Verificar si existen datos vacíos o faltantes en el DataFrame resultado.
merged_dataframes.isna().sum()

state            0
area (sq. mi)    0
abbreviation     1
dtype: int64

In [158]:
# Verificar si existen datos duplicados en el merged_dataframes resultado.
print(f'Cantidad de datos duplicados en el merged_dataframes resultado: {merged_dataframes.duplicated().sum()}')

Cantidad de datos duplicados en el merged_dataframes resultado: 0

In [159]:
# Identificar el valor isna en dataframe merged_dataframes

merged_dataframes[merged_dataframes.isna().any(axis=1)]

          state  area (sq. mi) abbreviation
51  Puerto Rico           3515          NaN

In [160]:
# Reemplazo de NaN por la media, columna abbreviation
merged_dataframes["abbreviation"].replace(np.nan, 'PR', inplace=True)

In [161]:
merged_dataframes.isna().sum()

state            0
area (sq. mi)    0
abbreviation     0
dtype: int64

In [162]:
# Obtener la cantidad de registros por columna del DataFrame resultado.
merged_dataframes.count()

state            52
area (sq. mi)    52
abbreviation     52
dtype: int64

In [163]:
# Realizar el merge de los DataFrame state_areas y state_abbrevs mediante la columna state
merged_dataframes = merged_dataframes.merge(state_population, how = 'right', on = 'abbreviation')
merged_dataframes

        state  area (sq. mi) abbreviation     ages  year   population
0     Alabama        52423.0           AL  under18  2012    1117489.0
1     Alabama        52423.0           AL    total  2012    4817528.0
2     Alabama        52423.0           AL  under18  2010    1130966.0
3     Alabama        52423.0           AL    total  2010    4785570.0
4     Alabama        52423.0           AL  under18  2011    1125763.0
...       ...            ...          ...      ...   ...          ...
2539      NaN            NaN          USA    total  2010  309326295.0
2540      NaN            NaN          USA  under18  2011   73902222.0
2541      NaN            NaN          USA    total  2011  311582564.0
2542      NaN            NaN          USA  under18  2012   73708179.0
2543      NaN            NaN          USA    total  2012  313873685.0

[2544 rows x 6 columns]

In [164]:
merged_dataframes.count()

state            2496
area (sq. mi)    2496
abbreviation     2544
ages             2544
year             2544
population       2544
dtype: int64

In [165]:
merged_dataframes[merged_dataframes.isna().any(axis=1)]

     state  area (sq. mi) abbreviation     ages  year   population
2496   NaN            NaN          USA  under18  1990   64218512.0
2497   NaN            NaN          USA    total  1990  249622814.0
2498   NaN            NaN          USA    total  1991  252980942.0
2499   NaN            NaN          USA  under18  1991   65313018.0
2500   NaN            NaN          USA  under18  1992   66509177.0
2501   NaN            NaN          USA    total  1992  256514231.0
2502   NaN            NaN          USA    total  1993  259918595.0
2503   NaN            NaN          USA  under18  1993   67594938.0
2504   NaN            NaN          USA  under18  1994   68640936.0
2505   NaN            NaN          USA    total  1994  263125826.0
2506   NaN            NaN          USA  under18  1995   69473140.0
2507   NaN            NaN          USA  under18  1996   70233512.0
2508   NaN            NaN          USA    total  1995  266278403.0
2509   NaN            NaN          USA    total  1996  269394291.0
2510   NaN            NaN          USA    total  1997  272646932.0
2511   NaN            NaN          USA  under18  1997   70920738.0
2512   NaN            NaN          USA  under18  1998   71431406.0
2513   NaN            NaN          USA    total  1998  275854116.0
2514   NaN            NaN          USA  under18  1999   71946051.0
2515   NaN            NaN          USA    total  2000  282162411.0
2516   NaN            NaN          USA  under18  2000   72376189.0
2517   NaN            NaN          USA    total  1999  279040181.0
2518   NaN            NaN          USA    total  2001  284968955.0
2519   NaN            NaN          USA  under18  2001   72671175.0
2520   NaN            NaN          USA    total  2002  287625193.0
2521   NaN            NaN          USA  under18  2002   72936457.0
2522   NaN            NaN          USA    total  2003  290107933.0
2523   NaN            NaN          USA  under18  2003   73100758.0
2524   NaN            NaN          USA    total  2004  292805298.0
2525   NaN            NaN          USA  under18  2004   73297735.0
2526   NaN            NaN          USA    total  2005  295516599.0
2527   NaN            NaN          USA  under18  2005   73523669.0
2528   NaN            NaN          USA    total  2006  298379912.0
2529   NaN            NaN          USA  under18  2006   73757714.0
2530   NaN            NaN          USA    total  2007  301231207.0
2531   NaN            NaN          USA  under18  2007   74019405.0
2532   NaN            NaN          USA    total  2008  304093966.0
2533   NaN            NaN          USA  under18  2008   74104602.0
2534   NaN            NaN          USA  under18  2013   73585872.0
2535   NaN            NaN          USA    total  2013  316128839.0
2536   NaN            NaN          USA    total  2009  306771529.0
2537   NaN            NaN          USA  under18  2009   74134167.0
2538   NaN            NaN          USA  under18  2010   74119556.0
2539   NaN            NaN          USA    total  2010  309326295.0
2540   NaN            NaN          USA  under18  2011   73902222.0
2541   NaN            NaN          USA    total  2011  311582564.0
2542   NaN            NaN          USA  under18  2012   73708179.0
2543   NaN            NaN          USA    total  2012  313873685.0

In [166]:
# prompt: Crea un transformador para el campo area (sq. mi) donde se totalice el area (sq. mi) segun el year y se asigne el valor al campo area (sq. mi) cuyo dato es Nan segun el year

# Crear un transformador para el campo area (sq. mi)
def total_area(df):
  # Calcular la suma del area (sq. mi) por año
  area_by_year = df.groupby('year')['area (sq. mi)'].sum()

  # Asignar el valor total al campo area (sq. mi) donde sea NaN
  for year, area in area_by_year.items():
    df.loc[(df['year'] == year) & (df['area (sq. mi)'].isnull()), 'area (sq. mi)'] = area

  return df

# Aplicar el transformador al DataFrame
merged_dataframes = total_area(merged_dataframes)

In [167]:
# Reemplazo de NaN por la media, columna abbreviation
merged_dataframes["state"].replace(np.nan, 'UnitedState', inplace=True)

In [168]:
merged_dataframes.count()

state            2544
area (sq. mi)    2544
abbreviation     2544
ages             2544
year             2544
population       2544
dtype: int64

In [169]:
merged_dataframes

            state  area (sq. mi) abbreviation     ages  year   population
0         Alabama        52423.0           AL  under18  2012    1117489.0
1         Alabama        52423.0           AL    total  2012    4817528.0
2         Alabama        52423.0           AL  under18  2010    1130966.0
3         Alabama        52423.0           AL    total  2010    4785570.0
4         Alabama        52423.0           AL  under18  2011    1125763.0
...           ...            ...          ...      ...   ...          ...
2539  UnitedState      7580798.0          USA    total  2010  309326295.0
2540  UnitedState      7580798.0          USA  under18  2011   73902222.0
2541  UnitedState      7580798.0          USA    total  2011  311582564.0
2542  UnitedState      7580798.0          USA  under18  2012   73708179.0
2543  UnitedState      7580798.0          USA    total  2012  313873685.0

[2544 rows x 6 columns]

In [134]:
# Histograma de population del merged_dataframes solo con los ages con el valor total y en el eje x aplicar el campo year y el y campo population,
# excluye la abbreviation con los valores USA

import altair as alt
alt.Chart(merged_dataframes[(merged_dataframes.ages == 'total') & (merged_dataframes.abbreviation != 'USA')]).mark_bar().encode(
    alt.X('year:O'),
    alt.Y('sum(population):Q')
)

alt.Chart(...)